.editor-pane {
  grid-column: middle-start / middle-end;
  grid-row: content-start / content-end;
  height: 100%;
}

.editor-window {
  background: transparent;
  border-radius: var(--border-radius);
  height: 100%;
  overflow: auto;
}

.sprite-holder {
  position: absolute;
  pointer-events: none;
  user-select: none;
}

.sprite-holder > * {
  position: absolute;
  transform: translate(-50%, -50%);
}

.sprite-holder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.node-graph {
  position: absolute;
  pointer-events: none;
  opacity: 0.25;
}

.node-graph > * {
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}

.editor-content {
  position: relative;
}

/* Add grid background for visual reference */
.editor-canvas {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  /* Grid size of 0.1 units * BASE_SCALE */
  background-size: 20px 20px;
}

.node-label {
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  color: white;
  pointer-events: all;
  white-space: nowrap;
}

.sprite-node {
  outline: 1px solid rgba(255, 255, 255, 0.1);
}

.vector-node {
}

.vector-node::after {
  content: '';
  position: absolute;
  left: 50%;
  top: -50%;
  bottom: 50%;
  border-right: 1px dashed rgba(0, 255, 255, 0.5);
}
