.number-input {
  width: 100%;
  padding: var(--spacing-xs) var(--spacing-xs);
  border: 1px solid var(--border-dim);
  border-radius: var(--border-radius-sm);
}

.number-input:focus {
  outline: none;
  border-color: var(--border-bright);
}
