.resizer {
  width: var(--gap);
  cursor: col-resize;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.resizer-handle {
  width: 8px;
}

.resizer-handle:after {
  background: var(--border-dim);
  transition: var(--transition-fast);
  content: '';
  display: block;
  height: 100%;
  width: 2px;
  border-radius: 2px;
  margin: var(--spacing-xs) auto;
}

.resizer:hover .resizer-handle:after {
  background: var(--border-bright);
}

.resizer:active .resizer-handle:after {
  background: var(--text-muted);
}
