.tab-pane {
  grid-column: left-start / right-end;
  grid-row: header-start / header-end;
  display: flex;
  gap: 10px;
  justify-items: center;
  align-items: center;
  height: var(--header-height);
  overflow: hidden;
  position: relative;
}

.tab-pane::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #333;
  position: absolute;
  bottom: 0px;
}

.tab-pane ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1px;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  height: 100%;
  border-bottom: 2px solid #222;
}

.tab {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.tab.active {
  background: rgba(255, 255, 255, 0.1);
}

.tab-name {
  white-space: nowrap;
}

.tab-close {
  padding: 2px 6px;
  font-size: 16px;
  background: none;
  border: none;
  color: #f6f6f6;
  opacity: 0.5;
}

.tab-close:hover {
  opacity: 1;
}

.new-tab {
  padding: 0 12px;
  height: 100%;
  background: none;
  border: none;
  color: #f6f6f6;
  cursor: pointer;
}

.new-tab:hover {
  background: rgba(255, 255, 255, 0.1);
}
